// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-family: cursive;
  font-style: italic;
  font-size: 40px;
  font-weight: lighter;
  margin-top: 30px;
  margin-left: 30px;
}

p {
  margin-left: 30px;
}

.form-coach {
margin-left: 30px;

}

#btn-submit {

  background-color: rgb(97, 144, 197);
  color: white;
  font-size: 20px;
  font-weight: bolder;
  border: 1px solid;
  border-radius: 15%;
  height: 45px;
  width: 100px;
}

#text-form {
  height: 30px;
  width: 300px;
}

.question {
background-color: rgb(208, 233, 233);
margin-left: 35px;
padding-left: 10px;
border-left: 5px solid;

}
.answer {
  background-color: rgb(238, 227, 214);
  margin-left: 30px;
  padding-left: 10px;
  border-left: 5px solid;
}

.link_ask {
  margin-left: 30px;
}
